.App {
  text-align: center;
}

.list-table {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 50%;            
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}